@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
    --primary-color: #54cdc7;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Neucha', cursive;
}

.heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    color: var(--primary-color);
    z-index: 1;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
}

@media (max-width: 800px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}

@media (max-width: 1100px) {
    .todos {
        width: 45% !important;
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .container {
        width: 95%;
        flex-direction: column;
    }
    .todos {
        width: 95% !important;
        margin-bottom: 10px;
    }
}
